<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="style/main.css" rel="stylesheet">
        <link href="style/compact.css" rel="stylesheet">
        <script type="text/javascript" src="src/main.js" defer></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title><%= content.title %></title>
    </head>
    <body>
        <%- include partial/header.html %>
        <main>
            <table>
                <% for(let y = 0, i = 0; i < content.articles.length; y++) {  %>
                    <tr>
                        <% for(let x = 0; x < 3 && i < content.articles.length; x += (content.articles[i].span ? content.articles[i].span : 1), i++) { let article = content.articles[i]; %>
                            <td colspan="<%= (article.span ? article.span : 1) %>">
                                <%- include partial/content.ejs %>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </main>
        <%- include partial/footer.html %>
    </body>
</html>